<p style="color: green"><%= notice %></p>

<%= render @movie %>

<div>
  <%= link_to "Edit this movie", edit_movie_path(@movie),  class:"btn btn-dark" %> |
  <%= link_to "Back to movies", movies_path,  class:"btn btn-dark" %>

  <%= button_to "Destroy this movie", @movie, method: :delete, class:"btn btn-danger mt-3" %>
</div>

